<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pokemon.name%></title>
</head>
<a href="/pokemon">Go Back</a>
    <h1><%=pokemon.name%></h1>
    <img src=<%=pokemon.img%>>
    <h3>Type:</h3> 
    <ul><% for(let i=0 ; i < pokemon.type.length; i++) {%>
        <li><%=pokemon.type[i]%></li>
    <%}%>
    </ul>
    <h3>Stats:</h3>
    <ul>
        <li> HP: <%=pokemon.stats.hp%></li>
        <li>ATTACK: <%=pokemon.stats.attack%></li>
        <li>DEFENSE: <%=pokemon.stats.defense%></li>
        <li>SP ATTACK: <%=pokemon.stats.spattack%></li>
        <li>SP DEFENSE: <%=pokemon.stats.spdefense%></li>
        <li>SPEED: <%=pokemon.stats.speed%></li>
    </ul>
    <style>
       ul{
        list-style: none;;
       }
    </style>
</body>
</html>